flask
gunicorn
gevent
alembic
pydantic
psycopg2
psycogreen
requests
json-logging
python-dotenv
Flask-Cors
Flask-pydantic
sqlalchemy
pyjwt[crypto]
flask-request-id-header
casbin
casbin_sqlalchemy_adapter
celery

